* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.box:last-child{
  margin-right: 0;
}

.step{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #ff9a4b;
}
.image1{
  background-image: url(img2/flow01.png);
  background-size: cover;
  background-position: bottom;
  height:150px;

}

.image2{
  background-image: url(img2/flow02.png);
  background-size: cover;
  background-position: bottom;
  height:150px;
}

.image3{
  background-image: url(img2/flow03.png);
  background-size: cover;
  background-position: bottom;
  height:150px;
}

h3{
  padding: 15px 0 5px;
}

footer{
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width:768px) {
  main{
    width: 100%;
    display:block;
    margin: 50px auto;
  }

  .box{
    width: 90%;
    margin: 0 auto 20px;
  }

  .box:last-child{
    margin-right: auto;
    margin-bottom: 0;
  }
}